/* Styles for PHP Blog */

div {
	margin: 0px 200px 0px 200px;
	padding: 30px 60px 30px 50px;
}

input {
	margin: 0px 200px 0px 200px;
	padding: 5px 347px 5px 344px;

}

textarea {
	margin: 0px 200px 0px 200px;
	padding: 30px 350px 30px 350px;
}

/* styles for our creating blog posts */

.title {
	color: black;
	display: inline-block;
	padding: 10px 400px 10px 20px;
	font-family: 'Play', sans-serif;
	font-size: 25px;
}

.links {
	text-decoration: none;
	color: black;
	text-align: right;
	display:inline-block;
	padding: 10px 45px 10px 30px;
	font-family: 'Play', sans-serif;
}

#mainlink {
	text-decoration: none;
	font-color: black;
}

a {text-decoration: none;}
a:hover {text-decoration: none;}  

.links:hover {
	color: #FF0040;
}

.inline {
	display: inline-block;
}

#head {
	border-bottom: 1px solid black;
	font-family: 'Play', sans-serif;
}

#bodyback {
	background-color: white;
}

.readmore-js-section {
	overflow: hidden;
}