/* Styles for PHP Blog */

div {
	margin: 0px 200px 0px 200px;
	padding: 30px 60px 30px 50px;
}

input {
	margin: 0px 200px 0px 200px;
	padding: 5px 347px 5px 344px;

}

textarea {
	margin: 0px 200px 0px 200px;
	padding: 30px 350px 30px 350px;
}
/* random styles for right now */